/* * {outline: 1px solid red !important;} */

/*
Block elements will have padding and
border included in the element's
total width and height
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
  font-size: 16px;
}

/*
Make HTML 5 elements display
block-level for consistent styling
*/
header,
section,
footer,
aside,
nav,
main,
article,
figure,
figcaption {
    display: block;
}

/*
Prevent images and other objects
from overflowing parent
*/
img,
embed,
object,
video {
    max-width: 100%;
}

body {
	color: #424242;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* =============== GENERAL STYLING =============== */

.container {
  max-width: 960px;  /* set to 960px or 1200px */
	margin: 0 auto;
	padding: 0 1.5rem;
}

a {
	text-decoration: none;
	color: #226399;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

textarea {
	resize: vertical; 
}

.blue {
	color: #226399;
}

.validation-error {
	background-color: #ff3b3b;
	/* border: 1px solid #ff0000; */
	border-radius: 5px;
	font-size: .9rem;
	font-weight: bold;
	color: #ffffff;
	margin-top: 5px;
	padding: 10px;
}

/* =============== BUTTONS =============== */

ul.button-list {
	display: flex;
	justify-content: flex-start;
	/* height: 2.5rem; */
}

ul.button-list a,
ul.button-list button {
	color: white;
	display: block;
	width: 100%;
	height: 100%;
}

.button {
	border-radius: 5px;
	border: 2px solid #226399;
	display: block;
	margin-right: 2rem;
	font-size: .9rem;
	font-weight: bold;
}

.primary {
	background-color: #226399;
	color: #dfdfdf;
	border: none;
}

.secondary {
	background-color: #ffffff00;
	color: #226399;
}

.button-text {
	padding: 10px 20px;
}


/* =============== HEADER =============== */
header {
	background-color: #226399;
  box-shadow: 0 0px 10px 5px rgba(46, 46, 46, 0.5);
  overflow: hidden;
}

.header-container {
	display: flex;
	justify-content: space-between;
}

.home {
	margin: 0;
	padding: .5rem 0;
	color: #fff;
	font-size: 2rem;
	font-weight: bold;
}

.header-container .main-nav ul {
	display: flex;
}

.header-container .main-nav ul a {
	display: block;
  padding: 0px 20px;
	color: #dfdfdf;
	margin-left: 2rem;
}

/* =============== COURSE LIST =============== */
ul.course-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

ul.course-list a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 1rem 2rem;
	color: #c4c4c4;
	font-size: .8rem;
	min-height: 110px;
}

li.course-card {
	flex-basis: 30%;
	background-color: #226399;
	margin: 1rem 1rem 0 0;
	border-radius: 5px;
}

.course-card-title {
	color: #fff;
	font-weight: bold;
	font-size: 1.125rem;
	padding-top: 10px;
}

#new-course-card {
	color: #fff;
	font-weight: bold;
	font-size: 1.125rem;
	text-align: center;
	position: relative;
	background-color: #dadada;
}

#new-course-card a {
	color: #fff;
	font-weight: bold;
	font-size: 1.125rem;
	text-align: center;
}

.new-course-card-title {
	color: rgb(105, 105, 105);
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* =============== COURSE DETAIL =============== */
.details-subheader {
	background-color: #d8fafe;
	height: 75px;
	border-bottom: 1px solid #00e5ff;
}

.subheader-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-main {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

.no-subheader {
	margin-top: 2.9rem;
}

.page-left {
	flex-basis: 65%;
}

.page-right {
	flex-basis: 25%;
}

.page-right h5 {
	border-bottom: 2px solid grey;
	padding: .75rem 0;
	text-transform: uppercase;
	font-size: .75rem;
}

.time {
	font-weight: bold;
}


/* =============== SIGN IN =============== */
.middle-section {
	max-width: 300px;
	margin: 5rem auto;
}

.field-container {
	display: flex;
	flex-direction: column;
}

input[type=text],
input[type=password],
textarea {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
	/* font-weight: bold; */
	font-size: 1rem;
  color: rgb(65, 65, 65);
  letter-spacing: 1px;
  outline: none;
}

input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: rgb(131, 131, 131);
  letter-spacing: 2px;
  text-transform: uppercase;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus{
  background-color: rgb(235, 235, 235);
}

input[type=submit] {
  background-color: #226399;
  color: #fff;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #226399;
	display: inline-block;
	font-size: .9rem;
	font-weight: bold;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
}